language: python

python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7-dev"


install:
  - "pip install pipenv"
  - "pipenv lock"
  - "pipenv install --dev"

script:
  - python -m unittest tests
